<!DOCTYPE web-app PUBLIC
          "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
          "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Meine Web-Anwendung ;)</display-name>
 
    <!--servlet>
        <servlet-name>getOsmReplicationLag3</servlet-name>
        <servlet-class>com.wno.getOsmReplicationLag3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getOsmReplicationLag3</servlet-name>
        <url-pattern>/getOsmReplicationLag3</url-pattern>
    </servlet-mapping-->
    
    <servlet>
        <servlet-name>getOsmReplicationLag4</servlet-name>
        <servlet-class>com.wno.getOsmReplicationLag4</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getOsmReplicationLag4</servlet-name>
        <url-pattern>/getOsmReplicationLag4</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>getAction7</servlet-name>
        <servlet-class>com.wno.getAction7</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getAction7</servlet-name>
        <url-pattern>/getAction7</url-pattern>
    </servlet-mapping>  
    
    <servlet>
        <servlet-name>getWikimedia</servlet-name>
        <servlet-class>com.wno.getWikimedia</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getWikimedia</servlet-name>
        <url-pattern>/getWikimedia</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>getOsmWiki</servlet-name>
        <servlet-class>com.wno.getOsmWiki</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getOsmWiki</servlet-name>
        <url-pattern>/getOsmWiki</url-pattern>
    </servlet-mapping>
</web-app>
